    <!-- Navbar -->
    <nav class="navbar" id="navbar">
        <a href="#hero" class="nav-brand">
            <img src="https://i.ibb.co/0jxSvdfH/channels4-profile.jpg" alt="Logo" class="nav-logo">
            <span class="brand-text"><span class="text-red">U</span>nnamed <span class="text-red">T</span>hings</span>
        </a>
        
        <button class="menu-toggle" aria-label="Toggle Menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </button>

        <ul class="nav-links">
            <li><a href="https://www.unnamedthings07.qzz.io/videos/video-page" class="nav-link"><span>V</span>ideos</a></li>
            <li><a href="https://www.unnamedthings07.qzz.io/articles/articles-page" class="nav-link"><span>A</span>rticles</a></li>
            <li><a href="https://www.unnamedthings07.qzz.io/contact" class="nav-link"><span>C</span>onnect</a></li>
        </ul>
    </nav>